{% extends 'base.html.twig' %}

{% block title %}{{ movie is not null ? movie.title : 'Not found' }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ movie.title }}</h1>

    <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="float-end" />
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id : {{ movie.id }}</li>
        <li class="list-group-item">Released : {{ movie.releasedAt|date('d M Y') }}</li>
        <li class="list-group-item">Country : {{ movie.country }}</li>
        <li class="list-group-item">Plot : {{ movie.plot }}</li>
    </ul>
</div>
{% endblock %}
